@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


:root {
--cor-principal: #678d67;
--cor-secundaria: #8ccc8c;
--cor-destaque: #FFA500;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal);
}


h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}


 footer {
            background-color: #234d25;
            color: white;
            text-align: center;
            padding: 10px 0;
            width: 100%;
            position: relative;
            bottom: 0;
        }

         .scroll-to-top {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            opacity: 0.7;
            transition: opacity 0.3s;
        }
        .scroll-to-top:hover {
            opacity: 1;
        }